<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/tailwind.output.css" />
    <link rel="stylesheet" href="https://cdn.tailwindcss.com/css/tailwind.min.css">
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
      defer
    ></script>
   <script src="../static/js/init-alpine.js"></script>
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 
  </head>
  <body>

    <div
      class="flex h-screen bg-gray-50 dark:bg-gray-900"
      :class="{ 'overflow-hidden': isSideMenuOpen}">
      <!-- Desktop sidebar -->
      
      <!-- Mobile sidebar -->
      <!-- Backdrop -->
    
      
      <div class="flex flex-col flex-1 w-full">
        <header class="z-10 py-4 bg-white shadow-md dark:bg-gray-800">
          <div
            class="container flex items-center justify-end h-full px-6 mx-auto text-purple-600 dark:text-purple-300"
          >
            <!-- Mobile hamburger -->
            <button
              class="p-1 mr-5 -ml-1 rounded-md md:hidden focus:outline-none focus:shadow-outline-purple"
              @click="toggleSideMenu"
              aria-label="Menu"
            >
              <svg
                class="w-6 h-6"
                aria-hidden="true"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  fill-rule="evenodd"
                  d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                  clip-rule="evenodd"
                ></path>
              </svg>
            </button>
      
            
            <ul class="flex items-center flex-shrink-0 space-x-6">
              <!-- Theme toggler -->
              <li class="flex">
                <button
                  class="rounded-md focus:outline-none focus:shadow-outline-purple"
                  @click="toggleTheme"
                  aria-label="Toggle color mode"
                >
                  <template x-if="!dark">
                    <svg
                      class="w-5 h-5"
                      aria-hidden="true"
                      fill="currentColor"
                      viewBox="0 0 20 20"
                    >
                      <path
                        d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"
                      ></path>
                    </svg>
                  </template>
                  <template x-if="dark">
                    <svg
                      class="w-5 h-5"
                      aria-hidden="true"
                      fill="currentColor"
                      viewBox="0 0 20 20"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
                        clip-rule="evenodd"
                      ></path>
                    </svg>
                  </template>
                </button>
              </li>
              <!-- Notifications menu -->
              <li class="relative">
                <button
                  class="relative align-middle rounded-md focus:outline-none focus:shadow-outline-purple"
                  @click="toggleNotificationsMenu"
                  @keydown.escape="closeNotificationsMenu"
                  aria-label="Notifications"
                  aria-haspopup="true"
                >
                  <svg
                    class="w-5 h-5"
                    aria-hidden="true"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                  >
                    <path
                      d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z"
                    ></path>
                  </svg>
                  <!-- Notification badge -->
                  <span
                    aria-hidden="true"
                    class="absolute top-0 right-0 inline-block w-3 h-3 transform translate-x-1 -translate-y-1 bg-red-600 border-2 border-white rounded-full dark:border-gray-800"
                  ></span>
                </button>
                <template x-if="isNotificationsMenuOpen">
                  <ul
                    x-transition:leave="transition ease-in duration-150"
                    x-transition:leave-start="opacity-100"
                    x-transition:leave-end="opacity-0"
                    @click.away="closeNotificationsMenu"
                    @keydown.escape="closeNotificationsMenu"
                    class="absolute right-0 w-56 p-2 mt-2 space-y-2 text-gray-600 bg-white border border-gray-100 rounded-md shadow-md dark:text-gray-300 dark:border-gray-700 dark:bg-gray-700"
                    aria-label="submenu"
                  >
                    <li class="flex">
                      <a
                        class="inline-flex items-center justify-between w-full px-2 py-1 text-sm font-semibold transition-colors duration-150 rounded-md hover:bg-gray-100 hover:text-gray-800 dark:hover:bg-gray-800 dark:hover:text-gray-200"
                        href="#"
                      >
                        <span>Messages</span>
                        <span
                          class="inline-flex items-center justify-center px-2 py-1 text-xs font-bold leading-none text-red-600 bg-red-100 rounded-full dark:text-red-100 dark:bg-red-600"
                        >
                          13
                        </span>
                      </a>
                    </li>
                    <li class="flex">
                      <a
                        class="inline-flex items-center justify-between w-full px-2 py-1 text-sm font-semibold transition-colors duration-150 rounded-md hover:bg-gray-100 hover:text-gray-800 dark:hover:bg-gray-800 dark:hover:text-gray-200"
                        href="#"
                      >
                        <span>Sales</span>
                        <span
                          class="inline-flex items-center justify-center px-2 py-1 text-xs font-bold leading-none text-red-600 bg-red-100 rounded-full dark:text-red-100 dark:bg-red-600"
                        >
                          2
                        </span>
                      </a>
                    </li>
                    <li class="flex">
                      <a
                        class="inline-flex items-center justify-between w-full px-2 py-1 text-sm font-semibold transition-colors duration-150 rounded-md hover:bg-gray-100 hover:text-gray-800 dark:hover:bg-gray-800 dark:hover:text-gray-200"
                        href="#"
                      >
                        <span>Alerts</span>
                      </a>
                    </li>
                  </ul>
                </template>
              </li>
              <!-- Profile menu -->
              <li class="relative">
                <button
                  class="align-middle rounded-full focus:shadow-outline-purple focus:outline-none"
                  @click="toggleProfileMenu"
                  @keydown.escape="closeProfileMenu"
                  aria-label="Account"
                  aria-haspopup="true"
                >
                  <img
                    class="object-cover w-8 h-8 rounded-full"
                    src="../static/css/f.jpg"
                    alt=""
                    aria-hidden="true"
                  />
                </button>
                <template x-if="isProfileMenuOpen">
                  <ul
                    x-transition:leave="transition ease-in duration-150"
                    x-transition:leave-start="opacity-100"
                    x-transition:leave-end="opacity-0"
                    @click.away="closeProfileMenu"
                    @keydown.escape="closeProfileMenu"
                    class="absolute right-0 w-56 p-2 mt-2 space-y-2 text-gray-600 bg-white border border-gray-100 rounded-md shadow-md dark:border-gray-700 dark:text-gray-300 dark:bg-gray-700"
                    aria-label="submenu"
                  >
                    <li class="flex">
                      <a
                        class="inline-flex items-center w-full px-2 py-1 text-sm font-semibold transition-colors duration-150 rounded-md hover:bg-gray-100 hover:text-gray-800 dark:hover:bg-gray-800 dark:hover:text-gray-200"
                        href="#"
                      >
                        <svg
                          class="w-4 h-4 mr-3"
                          aria-hidden="true"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                        >
                          <path
                            d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"
                          ></path>
                        </svg>
                        <span>Profile</span>
                      </a>
                    </li>
                    <li class="flex">
                      <a
                        class="inline-flex items-center w-full px-2 py-1 text-sm font-semibold transition-colors duration-150 rounded-md hover:bg-gray-100 hover:text-gray-800 dark:hover:bg-gray-800 dark:hover:text-gray-200"
                        href="#"
                      >
                        <svg
                          class="w-4 h-4 mr-3"
                          aria-hidden="true"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                        >
                          <path
                            d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"
                          ></path>
                          <path d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                        </svg>
                        <span>Settings</span>
                      </a>
                    </li>
                    <li class="flex">
                      <a
                        class="inline-flex items-center w-full px-2 py-1 text-sm font-semibold transition-colors duration-150 rounded-md hover:bg-gray-100 hover:text-gray-800 dark:hover:bg-gray-800 dark:hover:text-gray-200"
                        href="index.html"
                      >
                        <svg
                          class="w-4 h-4 mr-3"
                          aria-hidden="true"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                        >
                          <path
                            d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1"
                          ></path>
                        </svg>
                        <span>Log out</span>
                      </a>
                    </li>
                  </ul>
                </template>
              </li>
            </ul>
          </div>
        </header>
        <main class="h-full pb-16 overflow-y-auto">
          <div class="container grid px-6 mx-auto mt-6">
            
              Table with actions
            </h4>
            <div class="w-full overflow-hidden rounded-lg shadow-xs mt-2">
              <div class="w-full overflow-x-auto">
                <table class="w-full whitespace-no-wrap" >
                  <thead>
                    <tr
                      class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
                    >
                    <th class="px-4 py-3">S.No</th>
                      <th class="px-4 py-3">Username</th>
                      <th class="px-4 py-3">Mail</th>
                      <th class="px-4 py-3">Current Status</th>
                      <th class="px-4 py-3">stress status</th>
                      <th class="px-4 py-3">Actions(msg)</th>
                    </tr>
                  </thead>
                  <tbody
                    class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800"
                  id="table-body">
                  

                  
                    
                  </tbody>
                </table>

                 
                  


              </div>
              
            </div>
          </div>
        </main>
      </div>
    </div>
   
    
  

<script  type="module">

 


var stdno =0;
const tableBody = document.querySelector("#table-body"); 
function AddItemToTable( name , roles, number , mail , gender ,status, StressCount)
{
      

// Get a reference to the div element
const myDiv = document.createElement("myDiv");
const t1 = document.createElement("td");

t1.classList.add("px-4" ,"py-3");

myDiv.classList.add("flex", "items-center" ,"text-sm");


const imageDiv = document.createElement("myDiv");
imageDiv.classList.add("relative" ,"hidden", "w-8", "h-8", "mr-3", "rounded-full", "md:block")
let img1 = document.createElement("img");
// Set the src attribute of the img based on the gender
if (gender === "male") {
  img1.src = "../static/css/male.jpg";
} else if (gender === "female") {
  img1.src = "../static/css/female.png";
}

img1.classList.add("object-cover","w-full" ,"h-full" ,"rounded-full");
// Append the img element to the div element
const subimgdiv = document.createElement("myDiv");
subimgdiv.classList.add("absolute","inset-0","rounded-full","shadow-inner");

imageDiv.appendChild(img1);
imageDiv.appendChild(subimgdiv);
myDiv.appendChild(imageDiv);



let td2 = document.createElement("p");
td2.classList.add("font-semibold");

let td6 = document.createElement("p");
td6.classList.add("text-xs", "text-gray-600", "dark:text-gray-400");

const namediv = document.createElement("myDiv");
namediv.appendChild(td2);
namediv.appendChild(td6);
myDiv.appendChild(namediv);
t1.appendChild(myDiv);


//push message
let td7 = document.createElement("td");
var iTag = document.createElement("i");
iTag.setAttribute("class", "material-icons","inline-block","cursor-pointer");
iTag.innerHTML = "email";
td7.appendChild(iTag);
td7.classList.add("text-center","cursor-pointer");

// Add an event listener to the <i> tag
  iTag.addEventListener("click", function() {
  // Do something when the icon is clicked

  const accountSid = 'accountSid';
const authToken = 'authToken';
const fromNumber = 'fromNumber';
const toNumber = number;
const message = `Dear ${name},
You have ${StressCount}% stress, Working in the technology industry can be rewarding and challenging at the same time.

If you recognize any of stress signs, it is important to take action to manage your stress. Here are some tips to help you cope:

1)Practice relaxation techniques such as deep breathing, meditation, or yoga.
2)Take breaks and go for a walk or engage in physical activity during the day.
3)Prioritize your tasks and set realistic goals for yourself.
4)Seek support from your colleagues or a professional counselor.
5)Talk to your admin about your concerns and work together to find solutions.`;

fetch(`https://api.twilio.com/2010-04-01/Accounts/${accountSid}/Messages.json`, {
  method: 'POST',
  headers: {
    'Authorization': `Basic ${btoa(`${accountSid}:${authToken}`)}`,
    'Content-Type': 'application/x-www-form-urlencoded'
  },
  body: `From=${encodeURIComponent(fromNumber)}&To=${encodeURIComponent(toNumber)}&Body=${encodeURIComponent(message)}`
})
.then(response => response.json())
.then(data => console.log(data))
.catch(error => console.log(error));

  


  
  alert("The message has been sent to "+number);
});









//staus data

const statusSpan = document.createElement("span");
if(status)
{
  status = "online";
}
else{
  status  = "offline";
}
statusSpan.innerHTML = status;
if(status === "online")
{
  statusSpan.classList.add("px-2", "py-1" ,"font-semibold" ,"leading-tight","text-green-700" ,"bg-green-100" ,"rounded-full" ,"dark:text-white" ,"dark:bg-green-600");

}
else{
  statusSpan.classList.add("px-2", "py-1" ,"font-semibold" ,"leading-tight","text-orange-700" ,"bg-orange-100" ,"rounded-full" ,"dark:text-white" ,"dark:bg-orange-600");
}





  let trow = document.createElement("tr");
  trow.classList.add("text-gray-700","dark:text-gray-400");
  let td1 = document.createElement("td");
  let td3 = document.createElement("td");
  //online status
  let td4 = document.createElement("td");
  td4.classList.add("px-4" ,"py-3");
  td4.appendChild(statusSpan);

  let td5 = document.createElement("td");

  
// sno

const mydivsno = document.createElement("div");
const para  =document.createElement("P");
para.innerHTML = ++stdno;
mydivsno.classList.add("text-center");
mydivsno.appendChild(para);
td1.appendChild(mydivsno);


  

  // td1.innerHTML = ++stdno;
  td2.innerHTML = name;
  td3.innerHTML = mail;
  // td4.innerHTML = status;

  //Stress Status
  if(StressCount != 0 ){
    
const mydivsno1 = document.createElement("div");
const para1  =document.createElement("P");
para1.innerHTML = StressCount+"%";
mydivsno1.classList.add("text-center");
mydivsno1.appendChild(para1);
td5.appendChild(mydivsno1);
    
  }
  
  td6.innerHTML = roles;

  trow.appendChild(td1);
  // trow.appendChild(td2);
  trow.appendChild(t1);
  trow.appendChild(td3);
  trow.appendChild(td4);
  trow.appendChild(td5);
  trow.appendChild(td7);

  tableBody.appendChild(trow);


}
function all(details,status)
{
  
  stdno =0;
  tableBody.innerHTML ="";
  details.forEach(Element =>
  {
    const name = Element.name;
        const roles = Element.roles;
        const number = Element.number;
        const mail = Element.email;
        const gender = Element.gender;
        const status = Element.online;
        const StressCount = Element.StressCount;
        if(name != "Admin")
        {
          AddItemToTable(  name , roles, number , mail , gender,status,StressCount);
        }
       
  })
}
  









  import { initializeApp  } from "https://www.gstatic.com/firebasejs/9.10.0/firebase-app.js";
  import { getDatabase,set ,ref , child, get ,onValue} from "https://www.gstatic.com/firebasejs/9.10.0/firebase-database.js";
	import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.10.0/firebase-analytics.js"; 
	import { getAuth, createUserWithEmailAndPassword, signInWithEmailAndPassword, signOut,onAuthStateChanged } from "https://www.gstatic.com/firebasejs/9.10.0/firebase-auth.js";
	  // TODO: Add SDKs for Firebase products that you want to use
	  // https://firebase.google.com/docs/web/setup#available-libraries

	  // Your web app's Firebase configuration
	  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
	  const firebaseConfig = {
      // get the api details from firebase
    };

	  // Initialize Firebase
	  const app = initializeApp(firebaseConfig);
	  const analytics = getAnalytics(app);
    const database = getDatabase(app);
     
       //check whether the user is online or offline
       
      const dbRef = ref(database, 'users/');
      

      var details =[];
      var status = "";
      onValue(dbRef, (snapshot) => {
        snapshot.forEach((childSnapshot) => {
        const Key = childSnapshot.key;
        const data = childSnapshot.val();

        // ...
        const connectedRef = ref(database, ".info/connected");
        onValue(connectedRef, (snap) => {
        
        if (snap.val() === true) {
          
          status = "online";
        } else {
          status = "offline";
        }
        });
        // console.log(status);
        details.push(data);
        all(details);       

        });
      }, {
        onlyOnce: true
      });


  
</script>



  </body>
</html>
